.photos {
  width: 40vw;
  max-width: 500px;
  margin: 0 7.5px;
  transform: translateY(-30%);
}

.entering {
  animation: movein 0.43s ease-in-out 0s 1 forwards;
}

.entered {
  transform: translateY(0);
}

@keyframes movein {
  from {
    transform: translateY(-30%);
  }
  70% {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes movein-x {
  from {
    transform: translateX(-30%);
  }
  70% {
    transform: translateX(20px);
  }
  to {
    transform: translateX(0);
  }
}

.photos > img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.photos > img:nth-last-child(2):nth-child(1),
.photos > img:nth-last-child(1):nth-child(2) {
  width: 100%;
  margin-bottom: 7.5px;
}

@media screen and (max-width: 750px) {
  .entering {
    animation: movein-x 0.43s ease-in-out 0s 1 forwards;
  }
  .photos {
    margin-top: 15px;
    width: 90vw;
  }
}
