@import "./variables.scss";

body {
  background-color: $bg;
  background: linear-gradient(
    135deg,
    $bg 20%,
    adjust-color($bg, $lightness: +5) 80%
  );
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

body > * {
  width: 100%;
}

@media screen and (max-width: 750px) {
  body {
    flex-direction: column;
    align-items: center;
  }
}
