$theme: #060411;
$bg: #ffffff;
$text: #000000;

$extra-large: 42px;
$large: 38px;
$medium: 30px;
$body: 26px;

@mixin header {
  font-weight: bold;
  font-family: Rubik, Roboto, sans-serif;
}

// @media screen and (max-width: 1466px ){
//   $extra-large: 36px; 
//   $large: 30px;
//   $medium: 24px;
//   $body: 22px
// }

// @media screen and (max-width: 750px) {
//  $extra-large: 25px; 
//  $large: 20px;
//  $medium: 15px;
//  $body: 13px;
// }

// @media screen and (max-width: 500px) {
//   $extra-large: 22.5vw; 
//   $large: 20vw; 
//   $medium: 17.5vw;
//   $body: 16.5vw;
// }